FlyingHighAirlineProxyServices/FlightService/Resources/FlightRestService.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="FlightService"
     targetNamespace="http://xmlns.oracle.com/FlyingHighAirlineProxyServices/FlightService/FlightService"
     xmlns:tns="http://xmlns.oracle.com/FlyingHighAirlineProxyServices/FlightService/FlightService"
     xmlns:inp1="http://TargetNamespace.com/FlightService_retrieveFlightDetails_response"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="FlightService">
        <plnk:role name="FlightServiceProvider" portType="tns:FlightService_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/FlightService_retrieveFlightDetails_response"
                 schemaLocation="nxsd_flightDetails.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/FlyingHighAirlineProxyServices/FlightService/FlightService"
             elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="retrieveFlightDetails_params">
                <complexType>
                    <sequence>
                        <element name="flightCode" type="string"/>
                        <element name="flightDate" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="retrieveFlightDetails_inputMessage">
        <wsdl:part name="request" element="tns:retrieveFlightDetails_params"/>
    </wsdl:message>
    <wsdl:message name="retrieveFlightDetails_outputMessage">
        <wsdl:part name="reply" element="inp1:Flights"/>
    </wsdl:message>
    <wsdl:portType name="FlightService_ptt">
        <wsdl:operation name="retrieveFlightDetails">
            <wsdl:input message="tns:retrieveFlightDetails_inputMessage"/>
            <wsdl:output message="tns:retrieveFlightDetails_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FlightService_ptt-binding" type="tns:FlightService_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="retrieveFlightDetails">
            <soap:operation soapAction="retrieveFlightDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
